<div class="item">
    <div class="item-head">
        <div class="col-sm-8">
            <a target="_blank" href="{% url 'show_article' article_id=article.id %}">{{ article.title }}</a>
            {% if article.is_private %}
                [私密]
            {% endif %}
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                {{ article.created_at }}
                {% if user.is_superuser %}
                <a href="{% url 'edit_article' id=article.id %}" target="_blank">编辑</a>
                <a href="{% url 'delete_article' id=article.id %}" target="_blank">删除</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if mode != 'simple' %}
    <div class="item-body">
        <div class="col-sm-12">{{ article.body | safe }}</div>
        <!--<div class="col-sm-12">-->
            <!--<a class="more" href="#">显示全部</a>-->
        <!--</div>-->
    </div>
    {% endif %}
</div>
