{% extends 'outside_base.html' %}
{% block page_title %}
    Passionate, Play more
{% endblock %}
{% block page_header %}
<style>
    .headline-img-wrap img{width:100%;}
    .news-box{margin-bottom:2em;}
    /*.news-box a, .friends a{color: #333;}*/
    .news-title{float:left;width:70%;padding-left:1em;}
    .news-created-at{width: 30%;display: inline-block;}
    /*.news-items{display: table;}*/
    @media screen and (max-width:768px){
        .news-created-at{display: none;}
    }
</style>
{% endblock %}
{% block content %}
<div class="col-xs-6">
    <div class="headline-img-wrap">
        <!--<img src="http://r1.ykimg.com/05100000564809306714C01A1507EAC3">-->
    </div>
</div>
<div class="col-xs-6">
    <form class="form-inline" method="get" action="{% url 'list_articles_by_search' %}">
        <div class="form-group">
            <input class="form-control" name="keyword" id="keyword" placeholder="请输入搜索关键字"/>
        </div>
        <button class="btn btn-info" role="button">搜索</button>
    </form>
    <hr/>
    <p>
       <strong>PP</strong>
    </p>
    <p>
        韩沛沛 1987
    </p>
    <p>
        北京邮电大学 > 广联达 > 优酷
    </p>
    <hr/>
    {% for tag in nav_tags %}
        <div class="news-box">
            <div>
                <strong>{{ tag.title_alias }}</strong>
            </div>
            {% for article in tag.news %}
                <div class="news-items">
                    <div class="news-title">
                        <a href="{% url 'show_article' article_id=article.id %}">{{ article.title }}</a>
                        {% if article.is_private %}
                        [私密]
                        {% endif %}
                    </div>
                    <div class="news-created-at">
                        {{ article.created_at }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    {% endfor %}
    <hr/>
    <div class="friends">
        <div>
            <strong>友情链接</strong>
        </div>
        <div class="col-sm-4">
            <a href="http://siwei.me">siwei</a>
        </div>
        <div class="col-sm-4">
            <a href="http://www.youku.com">优酷</a>
        </div>
        <div class="col-sm-4">
            <a href="http://www.tudou.com">土豆</a>
        </div>
    </div>
</div>
{% endblock %}
