{% extends 'boostrap_base.html' %}
{% block page_meta %}
<meta name="keywords" content="Passionate, Play more">
<meta name="description" content="憨沛沛和阳酱的个人博客">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
{% endblock %}
{% block page_title %}
{% endblock %}
{% block page_header %}
<link href="{{ STATIC_URL }}css/outside.css" rel="stylesheet">
    {% block outside_header %}
    {% endblock %}
{% endblock %}
{% block top_nav %}
<nav class="navbar navbar-default">
    <div class="container-fluid" id="top-navbar-holder">
        <div class="navbar-header" id="top-navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#top-navbar-collapse" aria-expanded="false">
                <span class="sr-only">pp</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PP</a>
        </div>
        <div class="collapse navbar-collapse" id="top-navbar-collapse">
            <input type="hidden" id="current_tag_id" value="{{ current_tag_id }}"/>
            <ul class="nav navbar-nav" id="top-navbar-items">
                <li data-tag-id=""><a href="/">首页<span class="sr-only">(当前页)</span></a></li>
                {% if user.is_superuser %}
                {% for tag in nav_tags %}
                    <li data-tag-id="{{ tag.id }}"><a href="{% url 'list_articles_by_tag' tag_id=tag.id %}">{{ tag.title }}</a></li>
                {% endfor %}
                {% endif %}
                <li data-tag-id="-1"><a href="#">联系我们</a></li>
            </ul>
            <!--form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form-->
            <!--ul class="nav navbar-nav navbar-right" id="top-navbar-tail">
                <li><a href="#">联系我们</a></li>
            </ul-->
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<div class="container-fluid text-center" id="footer">
    <div>韩沛沛的个人博客</div>
    <div>当前博客正在建设中</div>
</div>
{% endblock %}
{% block js %}
    <script>
        var tag_id = $("#current_tag_id").val();
        if(tag_id == 0){
            $('#top-navbar-collapse li:first').addClass('active');
        } else if(tag_id == -1){
            $('#top-navbar-collapse li:last').addClass('active');
        } else if(tag_id > 0){
            $('#top-navbar-collapse li').each(function(){
                console.info($(this).val());
                if($(this).data('tag-id') == tag_id){
                    $(this).addClass('active');
                }
            });
        }

        $('#top-navbar-collapse li').hover(function(){
            var stay = $(this).hasClass('active');
            if(!stay) {
                $(this).attr('stay', stay);
                $(this).addClass('active');
            }
        },function(){
            if( $(this).hasClass('active') && $(this).attr('stay') == 'false'){
                $(this).removeClass('active');
                $(this).data('stay', false)
            }
        })
    </script>
    {% block outside_js %}
    {% endblock %}
{% endblock %}
