{% extends 'base.html' %}
{% block page_title %}
    Passionate, Play more
{% endblock %}
{% block page_header %}
<style>
    .headline-img-wrap img{width:100%;}
    .news-box{margin-bottom:2em;}
    .news-box a, .friends a{color: #333;}
    .news-items{display: table;}
    @media screen and (max-width:768px){
        .news-created-at{display: none;}
    }
</style>
{% endblock %}
{% block content %}
<div class="col-xs-6">
    <div class="headline-img-wrap">
        <img src="http://r1.ykimg.com/05100000564809306714C01A1507EAC3">
    </div>
</div>
<div class="col-xs-6">
    <p>
       <strong>PP</strong>
    </p>
    <p>
        韩沛沛 1987
    </p>
    <p>
        北京邮电大学 > 广联达 > 优酷
    </p>
    <hr/>
    <div class="news-box">
        <div>
            <strong>技术宅</strong>
        </div>
        <div class="news-items">
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
        </div>
    </div>
    <div class="news-box">
        <div>
            <strong>伪文艺</strong>
        </div>
        <div class="news-items">
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
        </div>
    </div>
    <div class="news-box">
        <div>
            <strong>爱折腾</strong>
        </div>
        <div class="news-items">
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
        </div>
    </div>
    <div class="news-box">
        <div>
            <strong>贪享乐</strong>
        </div>
        <div class="news-items">
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
            <div class="col-sm-8">
                <a href="#">mongodb与redis的对比分析</a>
            </div>
            <div class="col-sm-4 news-created-at">
                2015-11-14 08:45
            </div>
        </div>
    </div>
    <hr/>
    <div class="friends">
        <div>
            <strong>友情链接</strong>
        </div>
        <div class="col-sm-4">
            <a href="#">siwei</a>
        </div>
        <div class="col-sm-4">
            <a href="#">feichen</a>
        </div>
        <div class="col-sm-4">
            <a href="#">xiaoha</a>
        </div>
        <div class="col-sm-4">
            <a href="#">siwei</a>
        </div>
        <div class="col-sm-4">
            <a href="#">feichen</a>
        </div>
        <div class="col-sm-4">
            <a href="#">xiaoha</a>
        </div>
    </div>
</div>
{% endblock %}
